.chart-container {
  margin: 5vh 0;
  align-items: center;
  width: 300px;

  .rect1 {
    fill: #65c3f8;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
  .rect2 {
    background: #65a1f8;
    pointer-events: none;
    border-radius: 0 0 5px 5px;
  }
  line {
    visibility: hidden;
  }

  .tick {
    text {
      font-size: 0.8rem;
      font-weight: 400;
      color: #8d949e;
      cursor: pointer;
      transform: rotate(90);
    }
  }

  .legend {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    color: #8d949e;
    width: 500px;
    .bar1 {
      display: flex;
      flex-direction: row;
      .colorbox {
        display: flex;
        flex-direction: row;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 3px;
        background: #65c3f8;
      }
    }
    .bar2 {
      display: flex;
      flex-direction: row;
      .colorbox {
        display: flex;
        flex-direction: row;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 3px;
        background: #65a1f8;
      }
    }
  }
}
