.size-container {
  text-align: center;
  flex: 1;
  min-width: 80vh;
  .stats-container {
    margin: 10px;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
  }

  h3 {
    font-size: 1.35rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0 0 20px;
    color: #7f8792;
  }
}
